@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.color1 {
  color: #625772ff !important;
}
.color2 {
  color: #f38181ff !important;
}
.color3 {
  color: #a9eee6 !important;
}

.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.lobster {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
strong {
  font-weight: 700 !important;
  /* text-decoration: underline; */
}
