@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --color-primary: #f38181ff;
    --color-secondary: #625772ff;
    --color-tertiary: #a9eee6;
  }
} */

@layer components {
  .headingPage {
    @apply text-center;
  }
  .lobster {
    /* font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .textNadpis {
    /* font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    @apply text-monte-100 text-2xl lg:text-5xl xl:text-7xl font-extrabold;
  }
  .textPodNadpis {
    @apply text-xl sm:text-2xl text-gray-800;
  }
  .seznamSkola > li {
    @apply pb-1;
  }
}
